IoT Features/flows.json
[
    {
        "id": "58d4742eb6ce6d87",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0faa8ffd15accd01",
        "type": "mqtt in",
        "z": "58d4742eb6ce6d87",
        "name": "",
        "topic": "ENTC-LIGHT",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "cd3fc9124d0bf700",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 140,
        "wires": [
            [
                "d8376845d554c4e8",
                "e05a956df536eb7b",
                "4e1d736c68851ad2"
            ]
        ]
    },
    {
        "id": "d8376845d554c4e8",
        "type": "ui_gauge",
        "z": "58d4742eb6ce6d87",
        "name": "",
        "group": "61e8078d3be514a1",
        "order": 3,
        "width": "5",
        "height": "5",
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{payload}}",
        "min": 0,
        "max": "1",
        "colors": [
            "#00b39e",
            "#9d00e6",
            "#cb3a87"
        ],
        "seg1": ".3",
        "seg2": ".7",
        "diff": false,
        "className": "",
        "x": 330,
        "y": 60,
        "wires": []
    },
    {
        "id": "e05a956df536eb7b",
        "type": "ui_chart",
        "z": "58d4742eb6ce6d87",
        "name": "",
        "group": "61e8078d3be514a1",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 350,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "923ae61c69266826",
        "type": "ui_switch",
        "z": "58d4742eb6ce6d87",
        "name": "Main Switch ",
        "label": "switch",
        "tooltip": "",
        "group": "ca7f69b31543cd26",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "str",
        "style": "",
        "onvalue": "1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 70,
        "y": 300,
        "wires": [
            [
                "46e527dcc9409465"
            ]
        ]
    },
    {
        "id": "46e527dcc9409465",
        "type": "mqtt out",
        "z": "58d4742eb6ce6d87",
        "name": "",
        "topic": "ENTC-MAIN-ON-OFF",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "cd3fc9124d0bf700",
        "x": 340,
        "y": 300,
        "wires": []
    },
    {
        "id": "bb097fd34d7ce3d1",
        "type": "ui_slider",
        "z": "58d4742eb6ce6d87",
        "name": "",
        "label": "Upload Interval (s)",
        "tooltip": "",
        "group": "61e8078d3be514a1",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "300",
        "step": "30",
        "className": "",
        "x": 670,
        "y": 140,
        "wires": [
            [
                "796d03ff91e7ae99"
            ]
        ]
    },
    {
        "id": "64e744990520dfb0",
        "type": "ui_slider",
        "z": "58d4742eb6ce6d87",
        "name": "",
        "label": "Sampling Interval (s)",
        "tooltip": "",
        "group": "61e8078d3be514a1",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "30",
        "step": 1,
        "className": "",
        "x": 680,
        "y": 200,
        "wires": [
            [
                "4bf08b88a7459e91"
            ]
        ]
    },
    {
        "id": "54125cee218e5a72",
        "type": "mqtt out",
        "z": "58d4742eb6ce6d87",
        "name": "",
        "topic": "ENTC-LIGHT-Tu",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "cd3fc9124d0bf700",
        "x": 1130,
        "y": 140,
        "wires": []
    },
    {
        "id": "796d03ff91e7ae99",
        "type": "change",
        "z": "58d4742eb6ce6d87",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "tu",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 910,
        "y": 140,
        "wires": [
            [
                "54125cee218e5a72"
            ]
        ]
    },
    {
        "id": "4bf08b88a7459e91",
        "type": "change",
        "z": "58d4742eb6ce6d87",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "ts",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 910,
        "y": 200,
        "wires": [
            [
                "f819968326f74856"
            ]
        ]
    },
    {
        "id": "f819968326f74856",
        "type": "mqtt out",
        "z": "58d4742eb6ce6d87",
        "name": "",
        "topic": "ENTC-LIGHT-Ts",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "cd3fc9124d0bf700",
        "x": 1120,
        "y": 200,
        "wires": []
    },
    {
        "id": "4e1d736c68851ad2",
        "type": "ui_text",
        "z": "58d4742eb6ce6d87",
        "group": "61e8078d3be514a1",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": " light intensity-value",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 430,
        "y": 140,
        "wires": []
    },
    {
        "id": "74b829b56362f3fe",
        "type": "ui_slider",
        "z": "58d4742eb6ce6d87",
        "name": "",
        "label": "offset",
        "tooltip": "",
        "group": "2d6c059c678b3e4a",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "120",
        "step": 1,
        "className": "",
        "x": 390,
        "y": 420,
        "wires": [
            [
                "b0fbe32b3036109a"
            ]
        ]
    },
    {
        "id": "ee2053c5b799f09a",
        "type": "ui_slider",
        "z": "58d4742eb6ce6d87",
        "name": "",
        "label": "gama",
        "tooltip": "",
        "group": "2d6c059c678b3e4a",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "1",
        "step": "0.01",
        "className": "",
        "x": 390,
        "y": 480,
        "wires": [
            [
                "93b967b2f618dbf8"
            ]
        ]
    },
    {
        "id": "3fd5e4e0471368f6",
        "type": "ui_slider",
        "z": "58d4742eb6ce6d87",
        "name": "",
        "label": "Tme",
        "tooltip": "",
        "group": "2d6c059c678b3e4a",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": "10",
        "max": "40",
        "step": 1,
        "className": "",
        "x": 390,
        "y": 540,
        "wires": [
            [
                "079a04a5ba91ef69"
            ]
        ]
    },
    {
        "id": "b0fbe32b3036109a",
        "type": "change",
        "z": "58d4742eb6ce6d87",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "theta_offset",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 640,
        "y": 420,
        "wires": [
            [
                "f100ab8a15ccc475"
            ]
        ]
    },
    {
        "id": "93b967b2f618dbf8",
        "type": "change",
        "z": "58d4742eb6ce6d87",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "gamma",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 630,
        "y": 480,
        "wires": [
            [
                "40659faee1ab5e3a"
            ]
        ]
    },
    {
        "id": "079a04a5ba91ef69",
        "type": "change",
        "z": "58d4742eb6ce6d87",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "tmed",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 540,
        "wires": [
            [
                "173111c097a0073a"
            ]
        ]
    },
    {
        "id": "f100ab8a15ccc475",
        "type": "mqtt out",
        "z": "58d4742eb6ce6d87",
        "name": "",
        "topic": "medibox/theta_offset",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "cd3fc9124d0bf700",
        "x": 860,
        "y": 420,
        "wires": []
    },
    {
        "id": "40659faee1ab5e3a",
        "type": "mqtt out",
        "z": "58d4742eb6ce6d87",
        "name": "",
        "topic": "medibox/gamma",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "cd3fc9124d0bf700",
        "x": 850,
        "y": 480,
        "wires": []
    },
    {
        "id": "173111c097a0073a",
        "type": "mqtt out",
        "z": "58d4742eb6ce6d87",
        "name": "",
        "topic": "medibox/tmed",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "cd3fc9124d0bf700",
        "x": 840,
        "y": 540,
        "wires": []
    },
    {
        "id": "9e52014f8419119f",
        "type": "ui_spacer",
        "z": "58d4742eb6ce6d87",
        "name": "spacer",
        "group": "ca7f69b31543cd26",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "6e34e4b29e7e6d4c",
        "type": "ui_spacer",
        "z": "58d4742eb6ce6d87",
        "name": "spacer",
        "group": "ca7f69b31543cd26",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "cd3fc9124d0bf700",
        "type": "mqtt-broker",
        "name": "",
        "broker": "https://test.mosquitto.org/",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "61e8078d3be514a1",
        "type": "ui_group",
        "name": "Light Monitoring",
        "tab": "7eb8f311768645c2",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "ca7f69b31543cd26",
        "type": "ui_group",
        "name": "Main switch",
        "tab": "7eb8f311768645c2",
        "order": 3,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "2d6c059c678b3e4a",
        "type": "ui_group",
        "name": "Medicine requirements",
        "tab": "7eb8f311768645c2",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "7eb8f311768645c2",
        "type": "ui_tab",
        "name": "Medibox",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]